html {
	background: 	#d9d9d9;
    }
	p{
		color:#fff;
		
	font-family: 'Segoe UI';
	}
	header{
		background-color: #666668;
		color: #fff
		text-align: center;
		padding: 10px
	}
	nav ul{
		list-style: none;
		padding: 0;
		display: flex;
		justify-content: center;
	}
	nav li{
		margin: 0 10px;
	}
	nav a{
		text-decoration:none;
		color: #fff;
	}

        * {
            margin: 0;
            padding: 0;
        }
 
        body {
            font-family: 'Segoe UI';
        }
	.header1 {
		height: 60px;
		line-height: 80px;
		margin: 0;
		padding: 10px;
                text-align: center;
		background: #666668;
		color: #fff;
		
       }
	   

        .homepageimg {
            margin: 10px;
			justify-content: center;
}

	.topleft {
        position: absolute;
        top: 8px;
        left: 16px;
	}
	.navbar {
            display: center;
            position: sticky;
            align-items: center;
            justify-content: space-between;
            top: 0px;
            background-color: #8c8c8e;
            background-size: cover;
            color: white;
            padding: 10px 20px;
        }
	.nav-list {
            display: flex;
            list-style: none;
        }
	.nav-list li {
            margin-right: 20px;
        }
 
    .nav-list li:last-child {
            margin-right: 0;
        }
 
    .nav-list li a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            transition: color 0.3s ease-in-out;
    }
 
    .nav-list li a:hover {
            color: #e8d3ca;
    }
	
    .center {
        max-width: 50%;
        max-height: 50%
}
	
	.flex-container {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		background-color: #b3b3b3;
	}

	.flex-container > div {
		background-color: #8c8c8e;
		color: black;
		margin: 10px;
		text-align: center;
		line-height: 25px;
		font-size: 15px;
	}
	
	@media (max-width: 800px) {
		.flex-container {
			flex-direction: column;
		}
	}
	
	.flex-container2 {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		background-color: #d9d9d9;
		align-content: space-between;
	}

	.flex-container2 > div {
		background-color: #b3b3b3;
		width: 400px;
		margin: 10px;
		text-align: center;
		line-height: 25px;
		font-size: 15px;
	}
	@media (max-width: 800px) {
		.flex-container2 {
			flex-direction: column;
		}
	}
	
	.header2 {
	  height: 60px;
		line-height: 80px;
		margin: 0;
		padding: 10px;
        text-align: center;
		background: #d9d9d9;
		color: #000000;
	}
	
	
	.flex-container-team {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		background-color: #d9d9d9;
		align-content: space-between;
	}

	.flex-container-team > div {
		background-color: #b3b3b3;
		width: 400px;
		margin: 10px;
		text-align: left;
		line-height: 25px;
		font-size: 15px;
	}
	@media (max-width: 800px) {
		.flex-container-team {
			flex-direction: column;
		}
	}
	
	.header3 {
	    height: 60px;
		line-height: 80px;
		margin: 0;
		padding: 10px;
        text-align: center;
		background: #d9d9d9;
		color: #000000;
	}
	
	.codingscreen {
		margin: 10px;
	}	
	
	.flex-container-courses {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		background-color: #d9d9d9;
	}

	.flex-container-courses > div {
		background-color: #8c8c8e;
		width: 300px;
		margin: 15px;
		text-align: center;
		line-height: 25px;
		font-size: 15px;
	}

	@media (max-width: 800px) {
		.flex-container-course {
			flex-direction: column;
		}
	}
	
	h2{
		text-align: center;
	}
	.imgteam {
            float: left;
            margin: 5px;
        }
 
    .pteam {
            text-align: center;
            font-size: 15px;
        }
	
	.apply {
		color: black;
        font-size: 18px;
        transition: color 0.3s ease-in-out;
	}
	
	
	.form {
		background-color: #b3b3b3;
		color: black;
		margin: 10px;
		text-align: center;
		line-height: 25px;
		font-size: 15px;
	}
		
	
	.footer-content {
		background-color: #404042;
		color: white;
		margin: 10px;
		text-align: right;
		line-height: 11px;
		font-size: 15px;
	}
	
	.send {
        background-color: #404042;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
}